html,
body{
    margin: 0;
    padding-top: 0;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*  */

footer {
    background: linear-gradient(to right, #ffffff, #59e4a8);
    height: 100px;
    width: 100%;
    margin-top: 30px;
    padding-top: 5px;
}

footer p img{
    width: 30px;
    height: 30px;
}

nav{
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to right, #ffffff, #59e4a8);
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

nav .logo{
    font-size: 1.rem;
    width: 30%;
    left: -50px;
    position: relative;
    top: -18px;

}

nav .logo img{
    padding-top: 35px;
    width: 120px;
}

nav li{
    display: inline;

}

nav a{
    text-decoration: none;
    color: rgb(78, 71, 71);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px;
    font-weight: bold;
    transition: 0.15s;
}

nav a:hover{
    color: aliceblue;
}

#nav-button{
    display: none;
    
}
label{
    display: none;
}

@media only screen and (max-width: 736px) and (orientation:portrait) {

    nav{
        align-items: center;
    }
    nav .logo{
        width: 30%;
        position: absolute;
        left: 0px;
    }
    nav .logo img{
        padding: 35px 10px;
    }
    nav ul{
        position: fixed;
        top: 44px;
        width: 100%;
        background: #cdf7e5;
        max-height: 0;
        overflow: hidden;
    }
    nav li{
        display: block;
        width: 100%;
        padding: 5px;
    }
    nav a{
        width: 100%;
        display: block;
    }

    nav li:hover{
        background: darkcyan;
    }
    label{
        display: block;
        padding: 0px 10px;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 2%;
    }
    label:hover{
        color: white;
    }

    nav #nav-button:checked~ul{
        max-height: 100%;
        transition: all 1s ease-out;
    }
    
}

nav ul li .dropdown{
    display: none;
    margin-left: 55px;
    margin-top: 5px;
}
nav ul li:hover .dropdown{
    display: block;
    background: linear-gradient(to right, #ffffff, #59e4a8);
    position: fixed;
    padding: 10px;
}
nav ul li:hover .dropdown li {
    display: block;
    margin: 10px 0px;
    line-height: 20px;
}
header {
    margin-top: 100px;
    margin-bottom: 15px;
}
.container .box {
    padding: 50px 80px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
}
.container .box h1 {
    font-size: 50px;
    text-align: center;
}
.container .box form input, select {
    margin-bottom: 25px;
}
.container .box form
input[type=text],
input[type=email],
input[type=password] {
    width: 300px;
    padding: 6px 3px;
    border: none;
    outline: none;
    background: transparent;
    transition: 0.5s;
    border-bottom: 2px solid rgb(74, 160, 160);
}
.container .box form select {
    width: 300px;
    padding: 6px 3px;
    outline: none;
}
.container .box form
select:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border-color: red;
    background: transparent;
}

.container .box form .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .box form .btn button {
    padding: 3px 16px;
    background-color: rgb(12, 226, 194);
    border-color: cyan;
    margin-bottom: 10px;
}
.container .box form .btn button a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

#label {
    display: block;
    font-size: 16px;
    margin-bottom: 3px;
}
::placeholder {
    font-size: 14px;
    color: black;
}